<footer>
  <div class="donate-wrap">
    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="/newpledge/" title="" class="ir">Donate to Mayday PAC</a>
        </div>
      </div>
    </div>
    <hr/>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="safeharbor">
          <p>
            Paid for by Mayday PAC. <br/>
            Not authorized by any candidate or candidate's committee.<br/>
            MAYDAY.US
          </p>
        </div>
        <p class="copyright">&copy; 2014 Mayday PAC, Some rights reserved. <a href="http://creativecommons.org/licenses/by-sa/4.0">
			<img src="/images/80x15.png"></p>
      </div>
      <div class="col-md-4">
        <!-- <a href="#" class="ir social-link youtube" title="Youtube Page">Youtube Page</a> -->
        <a href="https://twitter.com/MAYDAYUS" class="ir social-link twitter" title="Twitter Page">Twitter Page</a>
        <a href="https://www.facebook.com/groups/282646648577039/" class="ir social-link facebook" title="Facebook Page">Facebook Page</a>
      </div>
    </div>
  </div>
</footer>

  <div style="display: none">
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 968755289;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/968755289/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
